{% extends 'templates/default.twig' %}

{% block title %}Dashboard{% endblock %}

{% block style %}
  label { font-size: 1.2em; }
  h2>span {
    font-size: 0.6em;
  }
  .well {
    margin: 20px;
  }
{% endblock %}

{% block content %}

  <h2>{{ auth.username|capitalize }}'s Dashboard
    {% if auth.isAdmin %}
    <span class="text-muted">(Administrator)</span>
    {% endif %}
  </h2>
  <div class="row">
    <div class="well col-sm-3">
    <label>Movies</label>
    <div> <a href="{{ urlFor('advert.add') }}">Create New Advert</a> </div>
    <div> <a href="{{ urlFor('advert.viewall') }}">Buy Movies</a> </div>
    </div>
    <div class="well col-sm-3">
    <label>Account</label>
    <div> <a href="{{ urlFor('user.wallet') }}">View My Wallet</a> </div>
    <div> <a href="{{ urlFor('advert.adverts') }}">View My Adverts</a> </div>
    <div> <a href="{{ urlFor('advert.transactions') }}">View Transactions</a> </div>
    <hr>
    <div> <a href="{{ urlFor('auth.password') }}">Change Password</a> </div>
    <div> <a data-toggle="tooltip" title="Careful now!" href="{{ urlFor('auth.delete') }}">Delete Account</a> </div>
    </div>
    {% if auth.isAdmin %}
      <div class="well col-sm-3">
        <label>Admin</label>
        <div> <a href="{{ urlFor('admin.viewusers')}}">View Users</a> </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
