{% extends 'templates/default.twig' %}

{% block title %}Change Password{% endblock %}

{% block content %}
   <form class="default_form" action="{{ urlFor('auth.password.post') }}" method="post" autocomplete="off">
      <ul class="center-block">
        <h2>Change Password</h2>
         <li>
            <label for="password_old">Old Password: </label>
            <input type="password" name="password_old" id="password_old">
            <div class="user-warning">
              {% if errors.has('password_old') %} {{ errors.first('password_old') }} {% endif %}
            </div>
         </li>
         <li>
            <label for="password_new">New Password: </label>
            <input type="password" name="password_new" id="password_new">
            <div class="user-warning">
              {% if errors.has('password_new') %} {{ errors.first('password_new') }} {% endif %}
            </div>
         </li>
         <li>
            <label for="password_confirm">Confirm Password: </label>
            <input type="password" name="password_confirm" id="password_confirm">
            <div class="user-warning">
              {% if errors.has('password_confirm') %} {{ errors.first('password_confirm') }} {% endif %}
            </div>
         </li>
         <li>
           <button class="btn btn-primary" type="submit">Change</button>
         </li>
      </ul>
      <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
   </form>
{% endblock %}
