{% extends 'templates/default.twig' %}

{% block style %}
  form button[type="button"],
  form button[type="submit"] {
    margin-top: 20px;
  }
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">
      <h2>Change Password</h2>
    </div>
  </div>

  <form class="form-horizontal" action="{{ urlFor('auth.password.post') }}"
    method="post" autocomplete="off">
    <div class="form-group">
      <label class="control-label col-sm-offset-1 col-sm-3" for="password_old">Old Password: </label>
      <div class="col-sm-5">
        <input class="form-control" type="password" name="password_old" id="password_old">
        <div class="text-danger">
          {% if errors.has('password_old') %} {{ errors.first('password_old') }} {% endif %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-1 col-sm-3" for="password_new">New Password: </label>
      <div class="col-sm-5">
        <input class="form-control" type="password" name="password_new" id="password_new">
        <div class="text-danger">
          {% if errors.has('password_new') %} {{ errors.first('password_new') }} {% endif %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-offset-1 col-sm-3" for="password_confirm">Confirm Password: </label>
      <div class="col-sm-5">
        <input class="form-control" type="password" name="password_confirm" id="password_confirm">
        <div class="text-danger">
          {% if errors.has('password_confirm') %} {{ errors.first('password_confirm') }} {% endif %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="{{urlFor('user.profile')}}"> <button class="btn btn-primary" type="button" name="button">Cancel</button> </a>
      </div>
    </div>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
   </form>
{% endblock %}
