{% extends 'templates/default.twig' %}

{% block title %}User Wallet{% endblock %}

{% block style %}
  label { font-size: 1.2em; }
{% endblock %}

{% block content %}

  <h2>{{ auth.username|capitalize }}'s Profile</h2>
  <div class="row">
    <div class="well col-sm-5">
    <label>Admin</label>
    <div> <a href="{{ urlFor('auth.password')}}">Change Password</a> </div>
    <div> <a href="#">Delete Account</a> </div>
    </div>
    <div class="well col-sm-5">
    <label>Account</label>
    <div> <a href="{{ urlFor('user.wallet') }}">View My Wallet</a> </div>
    <div> <a href="{{ urlFor('advert.viewbyuser') }}">View My Adverts</a> </div>
    <div> <a href="{{ urlFor('advert.transactions') }}">View Transactions</a> </div>
    </div>
  </div>

{% endblock %}