{% extends 'templates/default.twig' %}

{% block title %}User Wallet{% endblock %}

{% block content %}
  <h2>My Wallet</h2>
  <p class="well text-info">
    Your current balance is: &pound;{{ wallet.balance|number_format(2,'.',',') }}
  </p>
  <hr/>
  <form action="{{ urlFor('user.deposit.post')}}" method="post" autocomplete="off">
  <div class="form-group">
    <div class="row">
      <label class="control-label col-sm-offset-1 col-sm-2" for="funds">Deposit Funds: </label>
      <div class="col-sm-5">
        <input class="form-control" type="number" step="0.01" name="funds" id="funds">
      </div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i></button>
      <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
    </div>
  </div>
  </form>

  <form class="default_form" action="{{ urlFor('user.withdraw.post')}}" method="post" autocomplete="off">
  <div class="form-group">
    <div class="row">
      <label class="control-label col-sm-offset-1 col-sm-2" for="funds">Withdraw Funds: </label>
      <div class="col-sm-5">
        <input class="form-control" type="number" step="0.01" name="funds" id="funds">
      </div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-minus"></i></button>
    </div>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
  </div>
  </form>

  <a href="{{urlFor('user.profile')}}"> <button class="btn btn-primary" type="button" name="button">Back</button> </a>

{% endblock %}