{% extends 'templates/default.twig' %}

{% block style %}
  .row {
    margin-left: 0px;
  }
  a:hover {
    text-decoration: none;
  }
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="text-center">Love Movies&nbsp; - &nbsp;Buy Movies&nbsp;  -  &nbsp;Sell Movies</h1>

<hr>
<div class="homepage">
  <div class="row">
    {# show sold and unsold movies #}
    {% if adverts|length == 0 %}
    <p class="well text-center text-info"> We appear to be sold out! </p>
    {% endif %}
  </div>
  <div class="row">
    {% for advert in adverts %}
    <img class="img-thumbnail" src="{{advert.image_url}}" alt="Image for {{advert.title}}" />
    {% endfor %}
  </div>

  <br>
  <div class="row">
    {% if auth %}
      <a href="{{ urlFor('user.profile') }}"><h2 class="text-center text info well well-sm">Welcome {{auth.username|capitalize}}</h2></a>
      <a data-toggle="tooltip" data-placement="auto" title="Visit your dashboard" href="{{ urlFor('user.profile') }}"><h2 class="text-center text info well well-sm">Dashboard</h2></a>
    {% else %}
      <a data-toggle="tooltip" data-placement="auto" title="Click here to login" href="{{ urlFor('auth.login') }}"><h2 class="text-center text info well well-sm">Login</h2></a>
      <a data-toggle="tooltip" data-placement="auto" title="Click here to register" href="{{ urlFor('auth.register') }}"><h2 class="text-center text info well well-sm">Register</h2></a>
    {% endif %}

  </div>
</div>

{% endblock %}