{% extends 'templates/default.twig' %}

{% block title %}My Purchases{% endblock %}

{% block content %}
  <h2> My Purchases</h2>

  {% if purchases is empty %}
    <p class="well text-danger text-center">You have no purchases. So sad!</p>
  {% endif %}

  {% for purchase in purchases %}
    <div>
      <strong>Seller:</strong> {{ auth.getUsernameById(purchase.seller_id) }}
    </div>
    <div>
      <strong>Title:</strong> {{ purchase.title }}
    </div>
    <div>
      <strong>Price:</strong> &pound{{ purchase.price|number_format(2,'.',',') }}
    </div>
    <div>
      <strong>Date of Purchase:</strong> {{ purchase.updated_at|date("m/d/Y") }}
    </div>
    <br/>
  {% endfor %}

  <a href="{{urlFor('user.profile')}}"> <button class="btn btn-primary" type="button" name="button">Back</button> </a>
{% endblock %}