{% extends 'templates/default.twig' %}

{% block title %}Movie Details{% endblock %}

{% block content %}

<form class="default_form" action="{{ urlFor('advert.view.post', {id: advert.id}) }}" method="post" autocomplete="off">
   <ul class="center-block">
     <h2>Movie Details</h2>
      <li>
         <label>Title: </label>
         <input type="text" value='{{ advert.title }}' readonly>
      </li>
      </li>
      <li>
         <label>Seller: </label>
         <input type="text" value="{{ auth.getUsernameById(advert.seller_id)|capitalize }}" readonly></input>
      </li>
      <li>
         <label>Price: </label>
         <input type="number" value="{{ advert.price|number_format(2,'.',',') }}" readonly>
      </li>
      <li>
         <label>Movie:</label>
         <img src="{{ advert.image_url }}" alt="Advert Image">
      </li>
      <li>
        <label>Category: </label>
        <select class="default_category" readonly>
          <option selected>{{ advert.category }}</option>
        </select>
      </li>
      <li>
        <label>Description: </label>
        <textarea readonly rows="8" cols="40">{{ advert.description }}</textarea>
      </li>
      <li>
        <button class="btn btn-primary" type="submit">Buy</button>
        <a class="back-btn" href="{{ urlFor('advert.viewall')}}"><button
          class="btn btn-primary" type="button">Back</button></a>
      </li>
   </ul>
   <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
</form>

{% endblock %}