{% extends 'templates/default.twig' %}

{% block style%}
img {
  width: 180px;
  height: 250px;
  margin: 10px 10px 10px 0;
}
span,
label
{ font-size: 1.3em; }
.movie-details {
  position: relative;
  top: 60px;
}
input {
  height: 32px;
  width: 400px;
  border-radius: 4px;
}
form > label { width: 90px; }
{% endblock %}

{% block title %}Buy Movies{% endblock %}

{% block content %}

  {% if not auth %}
    <p>Please login to see more details</p>
  {% endif %}

  <form action="{{ urlFor('advert.viewall.post')}}" method="post">
    <label for="search_term">Search:</label>
    <input type="text" name="search_term" id="search_term" placeholder="Search by Title, Category or Seller">
    <button class="btn btn-primary btn-sm" type="submit">Go</button>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
  </form>

  <hr>

  {% for advert in adverts if not advert.isSold %}
  <div class="row">
      <div class="col-sm-2">
        <img src="{{advert.image_url}}" alt="Image for {{advert.title}}" />
      </div>
      <div class="col-sm-4 movie-details">
        <div>
          <label>Movie Title:</label>
          <span>{{ advert.title }}</span>
        </div>
        <div>
          <label>Category:</label>
          <span>{{ advert.category }}</span>
        </div>
        {% if auth %}
        <div>
          <label>Seller:</label>
          <span>{{ auth.getUsernameById(advert.seller_id)|capitalize }}</span>
        </div>
        {% endif %}
        <div>
          <label>Price:</label>
          <span>&pound;{{ advert.price|number_format(2,'.',',') }}</span>
        </div>
        {% if auth %}
        <div>
          <span>
            <a href="{{ urlFor('advert.view', {id: advert.id}) }}">View Details</a></td>
          </span>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

{% endblock %}