{% extends 'templates/default.twig' %}

{% block style%}
.movie-item {
  min-height: 420px;
}
{% endblock %}

{% block title %}Buy Movies{% endblock %}

{% block content %}

  {% if not auth %}
    <p>Please login to see more details</p>
  {% endif %}

  <form class="form-horizontal" role="form" action="{{ urlFor('advert.viewall.post')}}" method="post">
    <div class="form-group">
      <label class="control-label col-xs-offset-1 col-xs-2 col-sm-1" for="search_term">Search:</label>
      <div class="col-xs-7 col-sm-5">
        <input class="form-control" type="text" name="search_term" placeholder="Search by Title, Category or Seller">
      </div>
      <button class="btn btn-primary" type="submit">Go</button>
    </div>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
  </form>

  <hr>

  <div class="row">
    {% for advert in adverts if not advert.isSold %}

      <div class="col-xs-offset-1 col-xs-10 col-sm-2 movie-item">
        <img class="img-thumbnail" src="{{advert.image_url}}" alt="Image for {{advert.title}}" />
        <div>
          <label>Movie Title:</label>
          <span>{{ advert.title }}</span>
        </div>
        <div>
          <label>Category:</label>
          <span>{{ advert.category }}</span>
        </div>
        {% if auth %}
        <div>
          <label>Seller:</label>
          <span>{{ auth.getUsernameById(advert.seller_id)|capitalize }}</span>
        </div>
        {% endif %}
        <div>
          <label>Price:</label>
          <span>&pound;{{ advert.price|number_format(2,'.',',') }}</span>
        </div>
        {% if auth %}
        <div>
          <span>
            <a href="{{ urlFor('advert.view', {id: advert.id}) }}">
              <button class="btn btn-info btn-sm" type="button" name="button">View</button> </a></td>
          </span>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

{% endblock %}