{% extends 'templates/default.twig' %}

{% block title %}View Adverts{% endblock %}

{% block content %}

  <form class="login_form" action="{{ urlFor('advert.viewall.post')}}" method="post">
    <select class="default_category" name="filter">
      <option value="category">Category</option>
      <option value="title">Title</option>
      <option value="price">Price</option>
    </select>
    <button class="btn btn=primary" type="submit">Search</button>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
  </form>

  <table class="movie_table">
    <thead>
      <tr>
        <th><strong>Category</strong></th>
        <th><strong>Movie Title</strong></th>
        <th><strong>Price</strong></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {% for advert in adverts %}
      <tbody>
        <tr>
          <td>{{ advert.category }}</td>
          <td>{{ advert.title }}</td>
          <td>{{ advert.price|number_format(2,'.',',') }}</td>
          <td><a href="{{ urlFor('advert.update', {id: advert.id}) }}">Update</a></td>
          <td><a href="{{ urlFor('advert.remove', {id: advert.id}) }}">Remove</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>

{% endblock %}