{% extends 'templates/default.twig' %}

{% block style%}
.movie-item {
  min-height: 420px;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  button:nth-of-type(1) {
    margin-top: 5px;
    float: right;
  }
}
{% endblock %}

{% block title %}Buy Movies{% endblock %}

{% block content %}

  <h2>Buy Movies</h2>

  {% if not auth %}
    <p>Please login to see more details</p>
  {% endif %}

  <form class="form-inline" role="form" action="{{ urlFor('advert.viewall.post')}}" method="post">
    <div class="form-group col-sm-offset-1 col-sm-5">
      <label for="search_term">Search:</label>
      <input type="text" class="form-control" name="search_term" placeholder="Search by Title, Category or Seller">
    </div>
    <div class="form-group col-sm-6">
      <label for="order">Price:</label>
      <select class="form-control" name="order">
        <option selected="selected" value="asc">Lowest First</option>
        <option value="desc">Highest First</option>
      </select>
      <button class="btn btn-primary" type="submit">Go</button>
    </div>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
  </form>

  <hr>

  <div class="row">
    {# filter out sold, and expired items, plus don't allow users to buy their own goods #}
    {% for advert in adverts
      if not advert.isSold and auth.id != advert.seller_id and not advert.hasExpired
      %}
      <div class="col-xs-offset-1 col-xs-7 col-sm-2 movie-item">
        <img class="img-thumbnail" src="{{advert.image_url}}" alt="Image for {{advert.title}}" />
        <div>
          <label>Title:</label>
          <span>{{ advert.title }}</span>
        </div>
        <div>
          <label>Category:</label>
          <span>{{ advert.category }}</span>
        </div>
        {% if auth %}
        <div>
          <label>Seller:</label>
          <span>{{ auth.getUsernameById(advert.seller_id)|capitalize }}</span>
        </div>
        {% endif %}
        <div>
          <label>Price:</label>
          <span>&pound;{{ advert.price|number_format(2,'.',',') }}</span>
        </div>
        {% if auth %}
        <div>
          <span>
            <a href="{{ urlFor('advert.view', {id: advert.id}) }}">
              <button class="btn btn-info btn-sm" type="button" name="button">View</button> </a></td>
          </span>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>

{% endblock %}